jupyterlab-qiskit/
test_development/*/
job_slurm/
qml_hw2/
results/
results_/
results_no_chemistry_constraint_bo_2
results_chemistry_constraint_bo_2
analyze_scripts/
qmg/trainer_old.py
qmg/models_old/
qmg/train_old/
docs_old/
docs/ibmq_tokens.txt
docker_commands/
dataset/*.csv
# test_development/
*.pyc